{% extends 'auth_base.html' %}
{% load static %}

{% block content %}
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-3">
        <strong>Tugas</strong>
      </p>
    </div>
  </div>
</nav>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Kategori</th>
      <th>Jumlah pertanyaan</th>
      <th>Tanggal dibuat</th>
    </tr>
  </thead>
  <tbody>
    {% for assignment in assignments %}
      <td><a href="{% url 'sis:assignment_detail' pk=assignment.pk %}">{{assignment.get_category_display}}</a></td>
      <td>{{assignment.question_set.count}}</td>
      <td>{{assignment.created_date}}</td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
