aioredis==1.1.0
asgiref==2.3.2
async-timeout==3.0.0
attrs==18.1.0
autobahn==18.7.1
Automat==0.7.0
channels==2.1.2
channels-redis==2.2.1
confusable-homoglyphs==3.1.1
constantly==15.1.0
daphne==2.2.1
Django==1.11.14
django-appconf==1.0.2
django-extensions==2.1.0
django-formset-js-improved==0.5.0.2
django-imagekit==4.0.2
django-jquery-js==3.1.1
django-nested-admin==3.0.21
django-registration==2.4.1
django-tinymce==2.7.0
hiredis==0.2.0
humanize==0.5.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
msgpack==0.5.6
pilkit==2.0
Pillow==5.2.0
PyHamcrest==1.9.0
pypiwin32==223
python-monkey-business==1.0.0
pytz==2018.5
pywin32==223
six==1.11.0
Twisted==18.7.0
txaio==18.7.1
zope.interface==4.5.0
