{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-4">
          <h1 class="title">
            Student Learning System
          </h1>
          <h2 class="subtitle">
            an undergraduate thesis by Devitri
          </h2>
          <div class="box">
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
            </div>
            <hr>
            <p class="control">
              <a class="button is-primary">Login</a>
              <a class="button is-default" href="{% url 'index' %}">Cancel</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
