{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-8 is-offset-2">
          <h1 class="title">
            Sistem Pembelajaran Mahasiswa
          </h1>
          <h2 class="subtitle">
            tugas akhir strata I oleh Devitri
          </h2>
          <div class="box">
          <form method="POST" action="{% url 'registration_register' %}">
          {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="field is-horizontal columns">
              <div class="field-label column is-3">
                <label class="label"></label>
              </div>
              <div class="field-body column">
                <div class="notification is-danger">
                  <a class="button delete"></a>
                  <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}

            <div class="field is-horizontal columns">
              <div class="field-label column is-3">
                <label class="label">{{ form.username.label }}</label>
              </div>
              <div class="field-body column">
                <div class="field">
                  <p class="control">
                    <input class="input {% if 'username' in form.errors or form.non_field_errors %}is-danger{% endif %}" type="text" name="username" value="{% firstof form.username.value '' %}" required>
                  </p>
                  <div class="help {% if 'username' in form.errors or form.non_field_errors %}is-danger{% endif %}">
                    {{ form.username.help_text|safe|capfirst }}
                    {% if 'username' in form.errors %}
                    <ul class="has-text-danger">
                      {% for error in form.errors.username %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal columns">
              <div class="field-label column is-3">
                <label class="label">{{ form.email.label }}</label>
              </div>
              <div class="field-body column">
                <div class="field">
                  <p class="control">
                    <input class="input {% if 'email' in form.errors or form.non_field_errors %}is-danger{% endif %}" type="email" name="email" value="{% firstof form.email.value '' %}" required>
                  </p>
                  <div class="help {% if 'email' in form.errors or form.non_field_errors %}is-danger{% endif %}">
                    {{ form.email.help_text|safe|capfirst }}
                    {% if 'email' in form.errors %}
                    <ul class="has-text-danger">
                      {% for error in form.errors.email %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal columns">
              <div class="field-label column is-3">
                <label class="label">{{ form.nobp.label }}</label>
              </div>
              <div class="field-body column">
                <div class="field">
                  <p class="control">
                    <input class="input {% if 'nobp' in form.errors or form.non_field_errors %}is-danger{% endif %}" type="text" name="nobp" value="{% firstof form.nobp.value '' %}" required>
                  </p>
                  <div class="help {% if 'nobp' in form.errors or form.non_field_errors %}is-danger{% endif %}">
                    {{ form.nobp.help_text|safe|capfirst }}
                    {% if 'nobp' in form.errors %}
                    <ul class="has-text-danger">
                      {% for error in form.errors.nobp %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal columns">
              <div class="field-label column is-3">
                <label class="label">{{ form.password1.label }}</label>
              </div>
              <div class="field-body column">
                <div class="field">
                  <p class="control">
                    <input class="input {% if 'passsword1' in form.errors or form.non_field_errors %}is-danger{% endif %}" type="password" name="password1" required>
                  </p>
                  <div class="help {% if 'password1' in form.errors or form.non_field_errors %}is-danger{% endif %}">
                    {{ form.password1.help_text|safe|capfirst }}
                    {% if 'password1' in form.errors %}
                    <ul class="has-text-danger">
                      {% for error in form.errors.password1 %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal columns">
              <div class="field-label column is-3">
                <label class="label">{{ form.password2.label }}</label>
              </div>
              <div class="field-body column">
                <div class="field">
                  <p class="control">
                    <input class="input {% if 'passsword2' in form.errors or form.non_field_errors %}is-danger{% endif %}" type="password" name="password2" required>
                  </p>
                  <div class="help {% if 'password2' in form.errors or form.non_field_errors %}is-danger{% endif %}">
                    {{ form.password2.help_text|safe|capfirst }}
                    {% if 'password2' in form.errors %}
                    <ul class="has-text-danger">
                      {% for error in form.errors.password2 %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal columns">
              <div class="field-label column is-3">
                <!-- Left empty for spacing -->
              </div>
              <div class="field-body column">
                <div class="field is-grouped">
                  <p class="control">
                    <button class="button is-primary" type="submit">Daftar</button>
                  </p>
                  <p class="control">
                    <a class="button is-default" href="{% url 'index' %}">Batal</a>
                  </p>
                  <p class="control" style="border-left:1px solid #aaa">
                    <button class="button is-link" id="form-reset">Reset form</a>
                  </p>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
    $(document).ready(function(e){
      $('a.button.delete').on('click', function(e) {
        $('div.notification.is-danger').remove()
      })
    })
</script>
{% endblock %}
