{% extends 'auth_base.html' %}
{% load static %}

{% block content %}
<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-3">
        <strong>{{module.title}}</strong>
      </p>
    </div>
  </div>
  <div class="level-reight">
    <div class="level-item">
      <p class="subtitle is-6">
        Dibuat tanggal <em>{{module.created_date}}</em>
      </p>
    </div>
  </div>
</nav>

<div class="content">
  {{module.text|safe}}
  <hr/>
  {% if module.attachments.count %}
    <p class="subtitle is-4">Lampiran</p>
    <table class="table is-striped">
      <thead>
        <tr>
          <th>File</th>
          <th>Ukuran</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for att in module.attachments.all %}
        <tr>
          <td>{{att}}</td>
          <td>{{att.file_upload.size|filesizeformat|lower}}</td>
          <td>
            {% if att.is_supported %}
              <a class="button is-link {% if att.is_viewable %}modal-trigger{% endif %}"
                {% if att.is_doc %}target="_blank"
                href="https://view.officeapps.live.com/op/embed.aspx?src={{att.file_upload.url}}"{% endif %}
                data-id="{{att.id}}">Lihat</a>
            {% endif %}
            <a href="{{att.file_upload.url}}" target="_blank" class="button is-link">Download</a>
          </td>
        </tr>
        {% if att.is_viewable %}
        <div class="modal" id="modal{{att.id}}">
          <div class="modal-background"></div>
          <div class="modal-content">
            {{att.html_display}}
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
<script type="text/javascript">
  $(document).ready(function(e) {
    $('a.modal-trigger').on('click', function(e) {
      var att = $(this).data('id')
      $('div.modal#modal' + att).toggleClass('is-active')
    })
    $('button.modal-close').on('click', function(e) {
      $(this).parent().toggleClass('is-active')
    })
  })
</script>
{% endblock %}
