{% extends 'auth_base.html' %}
{% load static %}

{% block content %}
<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-3">
        <strong>{{module.title}}</strong>
        <span class="subtitle is-6">
          <em>, {{module.created_date}}</em>
        </span>
      </p>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <div class="level-item">

    </div>
  </div>
</nav>
<div class="content">
  {{module.text|safe}}
  {% if module.attachments %}
    <p class="subtitle is-6"><strong>Lampiran :</strong></p>
    <ol>
      {% for att in module.attachments.all %}
      <li><a href="{{ att.file_upload.url }}">{{ att }}</a></li>
      {% endfor %}
    </ol>
  {% endif %}
</div>
{% endblock %}
