<div class="row">
  <form class="col s12" method="POST" action="{% url 'auth_login' %}">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="{{form.username.name}}" class="validate" required>
        <label data-error="{% if 'username' in form.errors %}{{form.errors.username|striptags}}{% endif %}">{{form.username.label}}</label>
      </div>
      <div class="input-field col s12">
        <input type="password" name="{{form.password.name}}" class="validate" required>
        <label data-error="{% if 'password' in form.errors %}{{form.errors.password|striptags}}{% endif %}">{{form.password.label}}</label>
      </div>
    </div>
  </form>
</div>