{% extends 'registration/base.html' %}

{% block content %}
<section class="col-12 white z-depth-2 py-4 px-4">
  {% include 'form/profile_change.html' %}
</section>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {
  $('input[name="std-avatar"]').change(function () {
    $('span.control-avatar').html('<i class="fa fa-check mr-1"></i> ')
    $('span.control-avatar').toggleClass("green accent-4 white-text")
  })
})
</script>
{% endblock %}
