a.dropdown-item:hover{
  background-color: #757575!important
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 70px;
}

footer.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}
