{% extends './base.html' %}

{% block action %}{% url 'account:edit' %}{% endblock %}
{% block multipart %}enctype="multipart/form-data"{% endblock %}
{% block non_field_errors %}
  {% if userform.non_field_errors %}
    {% include './partial/_form_errors.html' with form=userform %}
  {% endif %}
  {% if studentform.non_field_errors %}
    {% include './partial/_form_errors.html' with form=studentform %}
  {% endif %}
{% endblock %}
{% block fields %}
<div class="row">
  <div class="col-8">
    {% include './partial/_text_field.html' with field=userform.username errors=userform.errors.username prefix=userform.prefix %}
    {% include './partial/_text_field.html' with field=userform.first_name errors=userform.errors.first_name prefix=userform.prefix %}
    {% include './partial/_text_field.html' with field=userform.last_name errors=userform.errors.lastname prefix=userform.prefix %}
    {% include './partial/_email_field.html' with field=userform.email errors=userform.errors.email prefix=userform.prefix %}
    {% include './partial/_text_field.html' with field=studentform.nobp errors=studentform.errors.nobp prefix=studentform.prefix %}
  </div>
  <div class="col-4 text-center">
    {% include './partial/_file_field.html' with field=studentform.avatar errors=studentform.errors.avatar prefix=studentform.prefix %}
  </div>
</div>
{% endblock %}
{% block submit %}<button type="submit" class="btn btn-primary">Submit</button><a href="{% url 'main:index' %}" class="btn btn-primary">Cancel</a>{% endblock %}
