<div class="md-form animated zoomIn">
  <label>{{field.label}}</label>
  <input
    type="email"
    name="{% if prefix %}{{prefix}}-{% endif %}{{field.name}}"
    class="form-control validate{% if field.data and errors %} is-invalid{% elif field.data %} is-valid{% endif %}"
    value="{% firstof field.value '' %}"
    required>
  {% if field.help_text %}<small class="form-text text-muted">{{field.help_text|striptags}}</small>{% endif %}
  <div class="invalid-feedback">
    <ul class="list-unstyled">
    {% for error in errors %}
      <li>{{error|striptags}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
