<div class="md-form animated zoomIn">
  <label>{{field.label}}</label>
  <input
    type="password"
    name="{% if prefix %}{{prefix}}-{% endif %}{{field.name}}"
    class="form-control validate{% if field.data and errors or form.non_field_errors %} is-invalid{% endif %}"
    required>
  {% if field.help_text %}<small class="form-text text-muted">{{field.help_text|safe}}</small>{% endif %}
  <div class="invalid-feedback">
    <ul class="list-unstyled">
    {% for error in errors %}
      <li>{{error|striptags}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
