{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Learning System</title>

    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-0.5.1/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>
  </head>
  <body>
    <div class="columns">
      <div class="column is-narrow">
        <div class="box is-radiusless" style="width:256px">
          <aside class="menu">
            <p class="menu-label">
              {{user.username}}
            </p>
            <img class="has-text-centered" src="/media/account/stock_avatar.jpg" style="border:1px solid #aaa"/>
            <p class="menu-label">
              NILAI ANDA SAAT INI : {{request.user.student.finalresult.letter_value}}
            </p>
            <p class="menu-label">
              TUGAS
            </p>
            <ul class="menu-list">
              <li><a href="{% url 'sis:assignment_index' %}?finish=False">Lihat tugas yang tersedia</a></li>
              <li><a href="{% url 'sis:assignment_index' %}?finish=True">Tugas yang diikuti</a></li>
            </ul>
            <p class="menu-label">
              AKUN
            </p>
            <ul class="menu-list">
              <li><a><strike>Edit Akun</strike></a></li>
              <li><a href="{% url 'auth_logout' %}">Keluar</a></li>
            </ul>
          </aside>
        </div>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column has-text-right" style="padding-top:50px;padding-right:30px">
              <h1 class="title">
                Sistem Pembelajaran Mahasiswa
              </h1>
              <h2 class="subtitle">
                tugas akhir strata I oleh Devitri
              </h2>
          </div>
          <div class="column is-narrow" style="padding-top:35px;padding-right:50px">
              <figure class="image is-96x96">
                <img src="{% static 'img/logo.jpg' %}" />
              </figure>
          </div>
        </div>
        <div class="tabs is-right">
          <ul>
            <li class="{% if active == 'module' %}is-active{% endif %}"><a href="{% url 'sis:module_index' %}">Bahan Kuliah</a></li>
            <li class="{% if active == 'assignment' %}is-active{% endif %}"><a href="{% url 'sis:assignment_index' %}">Tugas</a></li>
          </ul>
        </div>
        <div style="padding-right:30px">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
