{% load static %}

<div class="elegant-color-dark mb-3">
  <div class="container">
    <div class="row align-items-center py-4">
      <div class="col-auto">
        <img width=150 height=150 src="{% static 'img/logo.png' %}">
      </div>
      <div class="col">
        <h1 class="display-4 white-text">E-learning</h1>
        <small class="h5 grey-text">Tugas akhir Strata I Stmik Indonesia Padang <br>oleh <strong>Devitri</strong>.</small>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <p class="h6 grey-text">
          <a href="" class="h5 white-text font-weight-bold">Masuk </a>
          <span class="text-lowercase font-weight-normal">atau</span>
          <a href="" class="h5 white-text font-weight-bold">Daftar</a>
        </p>
      </div>
    </div>
  </div>
</div>
