{% extends 'main/auth/base.html' %}

{% block content %}
<div class="z-depth-1 white px-5 pt-5 pb-2 mb-5">
  <header>
    <h2>{% if assignment.short_description %}{{assignment.short_description|title}}{% else %}{{assignment.get_category_display|title}}{% endif %}</h2>
    <div class="row my-4 no-gutters justify-content-between">
      <div id="blockquote" class="col-12">
        <blockquote class="blockquote bq-warning grey lighten-5 text-muted">
          <small><i class="fa fa-calendar"></i> Terakhir pengumpulan : <span id="counter"></span></small>
        </blockquote>
      </div>
    </div>
  </header>
  <div class="row">
    {% for question in assignment.question_set.all %}
      <div class="col-12 ml-2 mb-3 grey lighten-4 py-3">
        <div class="row no-gutters">
          <div class="col-auto">
            {{forloop.counter}}.
          </div>
          <div class="col-auto ml-2">
            <div>{{question.text|safe}} ?</div>
            {% if question.attachments.count %}
            <div class="row align-items-start no-gutters">
              <div class="col-auto">
                <small class="font-weight-bold mr-3 text-muted">Lampiran : </small>
              </div>
              {% for attachment in question.attachments.all %}
                <div class="col-auto mx-1">
                  <a target="blank_" href="{{ attachment.file_upload.url }}" class="badge z-depth-0 teal-text font-weight-normal"><i class="fa fa-download"></i> {{attachment.file_name}}</a>
                </div>
              {% endfor %}
            </div>
            {% endif %}
            <hr class="mb-3 mt-2">
            {% if not assignment.has_expired %}
              {% if question.id in answered %}
                <a class="btn btn-sm btn-warning z-depth-0 mt-0 ml-0" href="{% url 'sis:do_answer' pk=question.id %}">Ubah Jawaban</a>
              {% else %}
                <a class="btn btn-sm btn-primary z-depth-0 mt-0 ml-0" href="{% url 'sis:do_answer' pk=question.id %}">Berikan Jawaban</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function msToTime(duration) {
    var milliseconds = parseInt((duration%1000)/100)
        , seconds = parseInt((duration/1000)%60)
        , minutes = parseInt((duration/(1000*60))%60)
        , hours = parseInt((duration/(1000*60*60))%24);

    hours = (hours > 0) ? hours + " jam " : "";
    minutes = (minutes > 0) ? minutes + " menit " : "";
    seconds = (seconds > 0) ? seconds + " detik " : "";
    return hours + minutes + seconds;
  }
  $(document).ready(function () {
    var due = "{{assignment.due|date:'c'}}"
    var int;
    due = new Date(due)
    now = new Date()

    if (7200000 > due - now && due - now > 0) {
      var int = setInterval(function () {
        if (due - new Date() <= 0) {
          clearInterval(int)
          location.reload()
        }
        $('#counter').html(msToTime(due - new Date()))
      }, 1000)
    } else {
      $('#counter').html("{{assignment.due}}")
    }
  })
</script>
{% endblock %}
